@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

$main-font: "Karla", sans-serif;
$highlight2: hsl(179, 62%, 43%);
$highlight3: hsl(179, 47%, 52%);
$highlight1: hsl(71, 73%, 54%);
$secondary: hsl(204, 43%, 93%);
$primary: hsl(218, 22%, 67%);
$white: hsl(0, 100%, 100%);
